body {
  margin: 0;
  font-family: Inter, "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(
    118.29deg,
    #dbe5ff -1.86%,
    #91affb 55.59%,
    #e3ebff 102.19%
  );
  width: 100vw;
  min-height: 100vh;
}
